<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/about.css" />
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

  <!------------------------- Navbar ------------------->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <!-- <a class="navbar-brand" href="#">Police</a> -->
    <img class="logo" src="/static/logo.png" alt="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/index/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  

    <!-- ---------------------Content--------------- -->
    <div class="ab">
      <h1><b>Overview</b></h1>
      <p>
        <h5>

          The Gujarat Police is the law enforcement agency for the state of
          Gujarat in India. The Gujarat Police has its headquarters in
          Gandhinagar, the state capital.
        </p>
      </h5>
      <br><br>
      <p>
        <h4><b>Industires</b></h4> 
        <h5 class="ind">Goverment Administration</h5>
      </p>

      <p>
        <h4><b>Headquarters</b></h4> 
        <h5 class="ind">Ahmedabad, Gujarat</h5>
      </p>

      <p>
        <h4><b>Location</b></h4> 
        <h5 class="ind">National Highway 228, Asalali, Ahmedabad, Gujarat 382427, India
          ,Ahmedabad, Gujarat 382427, IN</h5>
      </p>

      <p>
        <h4><b>Direction</b></h4> 
        <h5 class="ind">
          <a href="https://goo.gl/maps/WkvrdSjT36TJycmx5" target="_blank">Get Directions</a>
        </h5>
      </p>

        <!-- <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d470434.16834446904!2d72.4488011127192!3d22.90352293712083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d22.594122199999997!2d72.8160973!4m5!1s0x395c2bab073bdbe9%3A0x6716d1a7595f16f0!2sgujarat%20police%20headquarters!3m2!1d23.213385499999998!2d72.6593011!5e0!3m2!1sen!2sin!4v1663820170348!5m2!1sen!2sin" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div> -->









    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
